@font-face {
    font-family: 'integral';
    src: url(IntegralCF-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    /* color: white; */
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: #121212;
}

.main{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    /* border: 2px solid white; */
    /* padding: 5px 25px 25px 25px; */
}

#welcome{
    font-family: 'integral';
    font-size: 11rem;
}

@media (min-width: 750px) and (max-width: 900px){
    #welcome{
        font-size: 9rem;
    }
}

@media (min-width: 600px) and (max-width: 750px){
    #welcome{
        font-size: 7rem;
    }
}

@media (min-width: 450px) and (max-width: 600px){
    #welcome{
        font-size: 5rem;
    }
}

@media (max-width: 450px){
    #welcome{
        font-size: 4rem;
    }
}

.red{
    color: #ff4655;
}

.begin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainp{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* border: 2px solid white; */
}

#main_poster{
    margin: 0px 20px 0px 20px;
}

.text{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    /* border: 2px solid white; */
}

.poster1{
    max-width: 100%;
    height: auto;
    border: 2px solid white;
    margin: 10px;
}

.star{
    font-family: 'integral';
    font-size: 7rem;
}

@media (min-width: 750px) and (max-width: 900px){
    .star{
        font-size: 6rem;
    }
}

@media (min-width: 600px) and (max-width: 750px){
    .star{
        font-size: 5rem;
    }
}

@media (min-width: 450px) and (max-width: 600px){
    .star{
        font-size: 4rem;
    }
}

@media (max-width: 450px){
    .star{
        font-size: 3rem;
    }
}

.schedule{
    color: white;
    text-align: center;
    /* border: 2px solid white; */
}

.sc{
    margin: 5px 20px;
    justify-content: space-evenly;
}

@media (max-width: 1000px){
    .mainp{
        flex-direction: column;
        /* text-align: left; */
    }
    .begin{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (min-width: 1000px){
    .sc_1{
        width: 500px;
    }
}

@media (max-width: 1000px){
    .result{
        flex-direction: column-reverse;

    }
}

.footer{
    background-color: #fff;
    color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.footer a:link, a:visited{
    color: #121212;
    text-decoration: none;
}

  /* mouse over link */
.footer a:hover, a:active {
    color: #5765f2;
    text-decoration: none;
  }

.d-logo{
    margin: 10px 10px 0 10px;
}

@media (min-width: 600px) and (max-width: 620px){
    .star{
        font-size: 4.5rem;
    }
}

@media (min-width: 450px) and (max-width: 520px){
    .star{
        font-size: 3rem;
    }
}

@media (max-width: 425px){
    .star{
        font-size: 2rem;
    }
}

@media (max-width: 500px){
    .d-logo{
        width: 45px;
        margin: 7px;
    }
}

.gb{
    justify-content: space-evenly;
    margin: 0 20px 20px 20px;
}

.logo{
    margin: 0px 5px;
}

@media (max-width: 500px){
    #y-logo{
        width: 30px;
    }
    #i-logo{
        width: 20px;
    }
}